{% extends 'libapp/base.html' %}
{% block content %}
<div class="dop9">
    <div class="main-description">
        Этот сайт это своего рода записная книжка куда можно записать, то какие книги вы прочитали или хотите прочитать.<br>
        Сайт находится в разработке,
        в будущем добавится возможность добавить книгу в избранное,
        а также корзина где можно будет восстановить удаленные книги,
        возможно появятся другие разделы с фильмами, аниме, мангой и прочим.
    </div>
</div>
{% endblock %}