{% extends 'users/base.html' %}
{% block content %}
<body class="body-login">
    <div class="form-login">
        <div class="dop4"><a class="register-url" href="{% url 'users:register' %}">Зарегистрироваться</a></div>
        <div class="dop1">
            <div class="form-title">Авторизация</div>
        </div>
        <form class="form-container" method="post">
            <div class="dop2">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
                <div class="form-error">{{ form.non_field_errors }}</div>
                {% for f in form %}
                <div class="form-group">
                    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
                    <div class="form-error">{{ f.errors }}</div>
                </div>
                {% endfor %}
            </div>
            <div class="dop3"><input class="form-button" type="submit" value="Войти"></div>
        </form>
    </div>
</body>
{% endblock %}